html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

div {
  text-align: center;
}

img#logo {
  width: 200px;
}

p {
  color: #68b8e3;
  font-family: sans-serif;
  font-size: 32px;
}
